gunicorn
langchain
langgraph
langchain_community
langchain_core
langchain_groq
langchain_openai
langchain-huggingface
faiss-cpu
flask
flask-cors
pypdf
sentence-transformers
tavily-python
python-dotenv